#lamda o funciones anónimas
* funciones pequeñas de facil acceso y que sean rapidas
* puede contener ** varios** argumentos pero solo una expresion

Definiendo lamda:
lamda (parametro):expresion

In [1]:
#una funcion que eleve al cuadrado todos los elementos de una lista
lista=[2,5,6,7]
#comprension
lista2=[n**2 for n in lista]
lista2

[4, 25, 36, 49]

In [ ]:
def elevar(*entrada): #se coloca * para indicar que se va a ingresar una lista
  for i in entrada:
    print(i**2)

In [2]:
lambda1=lambda x:x**2
lambda1(2)

4

In [3]:
lambda2=lambda x,y:x**y
lambda2(2,4)

16

In [5]:
from re import T
lambda3= lambda num:True if num **2>=0 else False
lambda3(2)

True

In [6]:
lambda3(3)

True

In [7]:
letras={'A':3,'B':6,'C':7}
sorted(letras,key=lambda x:letras[x]%3)

['A', 'B', 'C']

In [ ]:
milista=[1,2,3,4,5,6,7,8,9]

##funciones de orden superior
1. MAP
la funcion se aplica a cada elemento de la lista

*map(una_funcion,una_lista)

In [9]:
cuadrados=[]
for i in lista:
  cuadrados.append(i**2)
print(cuadrados )

[4, 25, 36, 49]

In [ ]:
cuadrado2=[x**2 for x in lista] #comprensio

In [11]:
cuadrado3=list(map(lambda x:x**2,lista))
cuadrado3

[4, 25, 36, 49]

#filter
filtrar .si se cumple la condicion devuelve un true

*se define : filter(una_funcion , una lista)

In [13]:
vavalore=[num for num in range(0,10)]
pares=[]
for valor in vavalore:
  if valor%2==0:
    pares.append(valor)
print(pares)

[0, 2, 4, 6, 8]

In [15]:
valoe2=[lol for lol in vavalore if lol %2==0]
valoe2

[0, 2, 4, 6, 8]

In [16]:
valor3=list(filter(lambda juli: juli%2==0,vavalore))
valor3

[0, 2, 4, 6, 8]

#reduce
es un acumulador

*para usar reduce se debe importar el modulo functools

In [26]:
from functools import reduce
def suma(lista):
  suma=0
  for i in lista:
    suma+=i #suma=suma+i
  return suma
print(suma(vavalore))

45

In [27]:
suma1=reduce(lambda x,y:x+y,vavalore)
suma1

45